* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	background-color: #fff5da;
	font-family: "Nunito", sans-serif;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

form {
	background-color: #fff;
	margin: 0 auto;
	padding: 3em auto;
	border-radius: 10px;
	max-width: 300px;
	height: 520px;
	box-shadow: 5px 5px 15px #1b1a1a51;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

h1 {
	color: #00000088;
}

#textBox {
	padding: 0.4em;
	margin-top: 1.5em;
	margin-bottom: 0.8em;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	width: 150px;
	font-size: 1.5rem;
	color: #0000009b;
	text-align: center;
}

label {
	font-size: 1.2rem;
	color: #000000ab;
	margin-left: 0.5em;
}

.input-type {
	margin: 1em auto;
}

button {
	padding: 0.5em 1.5em;
	margin: 1.5em auto;
	border: none;
	border-radius: 5px;
	background-color: #ffe59e;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	color: #00000088;
	font-size: 1.2rem;
	font-weight: 600;
	cursor: pointer;
}

button:hover {
	background-color: #fcd978;
}

#result {
	font-size: 1.5rem;
	font-weight: 600;
	color: #0000009b;
}

@media (max-height: 540px) {
	body {
		height: auto;
		padding: 1em;
	}
}
